{
    "env": {
        "es6": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "new-cap": ["error", { "capIsNew": false }],
        "indent": ["error", 4],
        "no-unused-vars": ["error", { "varsIgnorePattern": "^m$" }],
        "react/jsx-uses-vars": "error",
        "require-jsdoc": 0
    }
}